{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Liste des utilisateurs</h1>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Avatar</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.address }}</td>
                    <td>
                        <img src="{{ asset('uploads/' ~ user.getFilepath) }}" alt="Avatar" class="img-fluid img-thumbnail">
                    </td>
                    <td>
                        <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('app_user_new') }}">Creer utilisateur</a>
    </div>
{% endblock %}
